/*-------------------Variables---------------------*/
/*-------------------------------------------------*/
:root {
  --color-white: #ffffff;
  --color-light-grey: #d5e1ef;
  --color-grey: #7d889e;
  --color-dark-navy: #1f314f;
}

/*----------------------Fonts----------------------*/
/*-------------------------------------------------*/
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/outfit-regular.woff2) format("woff2");
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/outfit-bold.woff2) format("woff2");
}

/*-------------------box-sizing--------------------*/
/*-------------------------------------------------*/
/*--allows us to include the padding and border in-*/
/*------an element's total width and height.-------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*-------------------white box---------------------*/
/*-------------------------------------------------*/
main {
  background-color: var(--color-white);
  max-width: 320px;
  padding: 17px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin: 17px;
}
/*-------------------body--------------------------*/
/*-------------------------------------------------*/
body {
  margin: 0;
  text-size-adjust: none;
  min-height: 100vh;
  background-color: var(--color-light-grey);
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  display: grid;
  place-items: center;
  padding: 70px 0;
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 22px;
  line-height: 28px;
  margin-top: 17px;
  color: var(--color-dark-navy);
}

p {
  line-height: 19px;
  color: var(--color-grey);
  margin: 16px;
}
/*-------------------Attribution-------------------*/
/*-------------------------------------------------*/
.attribution {
  text-align: center;
  bottom: 16px;
  margin-inline: 16px;
}

.attribution a {
  color: var(--color-dark-navy);
}
