/*-------------------Variables---------------------*/
/*-------------------------------------------------*/
:root {
  --color-white: #ffffff;
  --color-light-gray: #d5e1ef;
  --color-blue: #7d889e;
  --color-dark-blue: #1f314f;
}
